<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>856210841296-0ouc2a75ibo2bi075h1pv4gdi6ia3b0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856210841296-0ouc2a75ibo2bi075h1pv4gdi6ia3b0h</string>
	<key>API_KEY</key>
	<string>AIzaSyC8oeymFH8OdGUfwdPObascU-IpYEq2A5c</string>
	<key>GCM_SENDER_ID</key>
	<string>856210841296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RussellFenenga.EventHype</string>
	<key>PROJECT_ID</key>
	<string>eventhype-4186a</string>
	<key>STORAGE_BUCKET</key>
	<string>eventhype-4186a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:856210841296:ios:8b65f7c309c1b5bb</string>
	<key>DATABASE_URL</key>
	<string>https://eventhype-4186a.firebaseio.com</string>
</dict>
</plist>